{% extends "base.html" %}
{% block title %}Back Squat - Side View{% endblock %}

{% block content %}
    <h2>Barbell Row - Side View</h2>
    <section class="barbell_row_side>
        <div class="cv2_window">
            <img src="{{ url_for('exercises.video_feed') }}" alt="camera_feed">
        </div>
        <button id="record" class="record_stop_button" value="record" name="barbell_row_side" type="submit">Record</button>
        <button id="stop" class="record_stop_button" value="stop" name="barbell_row_side" type="submit">Stop</button>
        <br />
        <div>These buttons need to start and stop the feed and when done, record the results to the screen and then to the DB for the user</div>
        <div id="exercise_data">N/A</div>
    </section>

    <script>

        // record
        // Only run what comes next *after* the page has loaded
        addEventListener("DOMContentLoaded", function() {
            // Grab all of the elements with a class of command
            // (which all of the buttons we just created have)
            var record_button = document.querySelector("#record");
            // For each button, listen for the "click" event
            record_button.addEventListener("click", function(e) {
                // When a click happens, stop the button
                // from submitting our form (if we have one)
                e.preventDefault();
            
                var clickedButton = e.target;
                var command = clickedButton.value;
    
                // Now we need to send the data to our server
                // without reloading the page - this is the domain of
                // AJAX (Asynchronous JavaScript And XML)
                // We will create a new request object
                // and set up a handler for the response
                var request = new XMLHttpRequest();
                request.onload = function() {
                    // We could do more interesting things with the response
                    // or, we could ignore it entirely

                    //PUT what you want to happen on click here
                };
                // We point the request at the appropriate command
                request.open("GET", "/" + command, true);
                // and then we send it off
                request.send();
            });
        }, true);

        // stop
        // Only run what comes next *after* the page has loaded
        addEventListener("DOMContentLoaded", function() {
            // Grab all of the elements with a class of command
            // (which all of the buttons we just created have)
            var record_button = document.querySelector("#stop");
            // For each button, listen for the "click" event
            record_button.addEventListener("click", function(e) {
                // When a click happens, stop the button
                // from submitting our form (if we have one)
                e.preventDefault();
            
                var clickedButton = e.target;
                var command = clickedButton.value;
    
                // Now we need to send the data to our server
                // without reloading the page - this is the domain of
                // AJAX (Asynchronous JavaScript And XML)
                // We will create a new request object
                // and set up a handler for the response
                var request = new XMLHttpRequest();
                request.onload = function() {
                    // We could do more interesting things with the response
                    // or, we could ignore it entirely

                    //PUT what you want to happen on click here
                    document.getElementById("exercise_data").innerHTML = request.responseText
                };
                // We point the request at the appropriate command
                request.open("GET", "/" + command, true);
                // and then we send it off
                request.send();
            });
        }, true);

        </script>

{% endblock %}